<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PontoVerde</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!--Header-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#" style="width: 200px;">
            <img src="PontoVerdeLogo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            PontoVerde
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link active" href="#">Locais de Descarte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Solicite uma Coleta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Denúncia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center align-content-center" style="height: 50vh; background-color: white">
    <p class="fs-3"><b>Dica do Dia</b></p>
    <p class="fs-5">"Recicle hoje para um amanhã mais verde!"</p>
</div>

<div class="container-fluid text-center align-content-center" style="height: 90vh; background-color: #CCFFB9">
    <p class="fs-2"><b>Locais de Descarte</b></p>
    <select class="form-select" aria-label="Default select example" style="width: 100vh; margin: 0 auto;">
        <option selected>Selecione uma Localização</option>
        <option value="1">Localização 1</option>
        <option value="2">Localização 2</option>
        <option value="3">Localização 3</option>
    </select>
    <img src="mapa_joinville.png" alt="" class="img-fluid" style="height: 70vh; padding: 30px">
</div>

<div class="container-fluid text-center align-content-center" style="height: 70vh; background-color: #FFFFFF">
    <p class="fs-2"><b>Solicite uma Coleta</b></p>
    <form class="col-lg-6 offset-lg-3 ">
        <div class="row justify-content-center">
            <label style="width: 60%" class="p-2">
                <select class="form-select" aria-label="Default select example" style="width: 100%;" required>
                    <option value="">Selecione uma Localização</option>
                    <option value="1">Localização 1</option>
                    <option value="2">Localização 2</option>
                    <option value="3">Localização 3</option>
                </select>
            </label>
            <label style="width: 60%" class="p-2">
                <select class="form-select" aria-label="Default select example" style="width: 100%;" required>
                    <option value="">Selecione o Tipo de Material</option>
                    <option value="1">Tipo Material 1</option>
                    <option value="2">Tipo Material 2</option>
                    <option value="3">Tipo Material 3</option>
                </select>
            </label>
            <label style="width: 60%" class="p-2">
                <textarea class="form-control" id="1" rows="3" placeholder="Observações (Opcional)"></textarea>
            </label>

            <span class="input-group-btn">
                <button class="btn btn-primary" style="width: 15%">Enviar</button>
            </span>
        </div>
    </form>
</div>

<div class="container d-flex justify-content-center align-items-center min-vw-100 text-center" style="height: 70vh; background-color: #CCFFB9;">
    <form>
        <div class="mb-3 text-center">
            <p class="fs-2"><b>Denúncias</b></p>
        </div>
        <div class="mb-3 ">
            <input type="email" class="form-control m-1" aria-describedby="emailHelp" style="width: 60vh; margin: 0 auto;" placeholder="Rua">
            <input type="password" class="form-control m-1" style="width: 60vh; margin: 0 auto;" placeholder="Bairro">
            <input type="password" class="form-control m-1" style="width: 60vh; margin: 0 auto;" placeholder="Email">
        </div>
        <div class="mb-3 text-center">
            <textarea class="form-control" rows="3" placeholder="Observações (Opcional)"></textarea>
        </div>
        <div class="mb-3 text-start">
            <label for="formFile" class="form-label"><b>Anexe imagens</b></label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 15%">Enviar</button>
    </form>
</div>

<footer class="container-fluid text-center align-content-center" style="background-color: white">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-start">
                <h5 class="text-uppercase text-center">PontoVerde</h5>
                <p>
                    A PontoVerde nasceu com o objetivo de facilitar o descarte responsável de resíduos e aproximar as pessoas das soluções
                    sustentáveis disponíveis em suas cidades. Nossa plataforma reúne informações sobre pontos de coleta e ecopontos, permitindo
                    que qualquer pessoa encontre rapidamente locais adequados para descartar diferentes tipos de materiais.
                    <br>
                    Acreditamos que tornar o descarte correto mais acessível incentiva práticas de reciclagem e consumo consciente. Assim,
                    a PontoVerde conecta cidadãos a locais de coleta, contribuindo para cidades mais limpas e para a preservação do meio ambiente.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-body">Locais de Descarte</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Solicite uma Coleta</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Denúncia</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Login</a>
                    </li>
                    <li>
                        <a href="#!" class="text-body">Cadastro</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>